{%- assign template_name = template | split: '/' | last -%}

<div class="flex flex-col flex-grow overflow-y-auto">
  <div class="flex items-center flex-shrink-0 px-4">
    <img
      class="w-auto h-8"
      src="https://tailwindui.com/img/logos/workflow-logo-indigo-600-mark-gray-800-text.svg"
      alt="Workflow"
      loading="lazy"
    >
  </div>

  <div class="flex flex-col flex-grow mt-6">
    <nav
      class="flex-1 px-2 space-y-1 text-sm font-medium bg-white"
      aria-label="Sidebar"
    >
      <a
        href="/account"
        class="account-nav-link group {% if template_name == 'account' %}active{% endif %}"
      >
        <span class="flex-shrink-0 mr-3 text-gray-400 group-hover:text-gray-500">
          {% render 'icon-cart' %}
        </span>

        <span class="flex-1">
          Orders
        </span>
      </a>

      <a
        href="/account/addresses"
        class="account-nav-link group {% if template_name == 'addresses' %}active{% endif %}"
      >
        <span class="flex-shrink-0 mr-3 text-gray-400 group-hover:text-gray-500">
          {% render 'icon-home' %}
        </span>

        <span class="flex-1">
          Addresses
        </span>
      </a>
    </nav>
  </div>
</div>
