<div
  x-data="{ quantity: {{ quantity }} }"
  class="flex items-center"
>
  <button
    type="button"
    class="p-1.5 rounded-lg hover:bg-gray-100"
    @click="quantity--"
  >
    <span class="sr-only">
      Minus one
    </span>

    {% render 'icon-minus' %}
  </button>

  <input
    type="number"
    name="updates[]"
    id="updates_{{ key }}"
    min="0"
    value="{{ quantity }}"
    class="form-input"
    x-model="quantity"
  >

  <button
    type="button"
    class="p-1.5 rounded-lg hover:bg-gray-100"
    @click="quantity++"
  >
    <span class="sr-only">
      Plus one
    </span>

    {% render 'icon-plus' %}
  </button>
</div>
