{% form 'recover_customer_password' %}
  <div class="space-y-6 account-form">
    <div>
      {{ form.errors | default_errors }}
    </div>

    <div>
      <label for="email"> Email Address </label>
      <input type="email" name="customer[email]" id="email" autocomplete="email" class="form-input"/>
    </div>

    <button type="submit" class="w-full text-white bg-green-600 button">
      Recover Password
    </button>
  </div>
{% endform %}
