<div class="bg-blue-500 font-bold uppercase text-lg">
  {{ section.settings.title }}
</div>

{% schema %}
  {
    "name": "Example",
    "settings": [
      {
        "type": "text",
        "id": "title",
        "label": "Title"
      }
    ],
    "default": {
      "settings": {
        "title": "Example"
      }
    }
  }
{% endschema %}
