<section>
  <div class="px-4 py-16">
    <div class="grid grid-cols-1 gap-8 lg:grid-cols-4">
      {% render 'account-navigation' %}

      <div class="lg:col-span-3">
        <div class="max-w-xl">
          <h1 class="text-3xl font-bold text-gray-900 sm:text-4xl">
            Order history
          </h1>

          <p class="mt-2 text-sm text-gray-500">
            Check the status of recent orders, manage returns, and download invoices.
          </p>
        </div>

        <div class="mt-8">
          <h2 class="sr-only">
            Recent orders
          </h2>

          <ul class="space-y-16 sm:space-y-24">
            {% paginate customer.orders by 10 %}
              {% if customer.orders.size != 0 %}
                {% for order in customer.orders %}
                  {% render 'order-preview', order: order %}
                {% endfor %}
              {% else %}
                <p>You haven't placed any orders yet.</p>
              {% endif %}

              {{ paginate | default_pagination }}
            {% endpaginate %}
          </ul>
        </div>
      </div>
    </div>
  </div>
</section>
